{% load widget_tweaks %}

<form method="post" action="{% url 'employee_update' form.instance.id %}" class="js-employee-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Update Employee Information</h4>
  </div>
  <div class="modal-body">
  {% include 'book_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update employee</button>
  </div>
</form>